yaml
name: Notificaci贸n a ntfy.sh

on:
push:
branches:
- main

jobs:
notificar:
runs-on: ubuntu-latest


steps:
- name: Checkout del repositorio
  uses: actions/checkout@v3

- name: Enviar notificaci贸n a ntfy.sh
  run: |
    curl -X POST https://ntfy.sh/devops-itla \
      -H "Title:  C贸digo nuevo en main" \
      -H "Priority: 4" \
      -d "El repositorio recibi贸 un nuevo push en la rama main. 隆Revisar los cambios!"